process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    executor = 'slurm'

    withName: SAMTOOLS_SORT {
        ext.prefix = "sorted"
    }

    withName: SAMTOOLS_VIEW_SINGLE {
        ext.args = '-b -f 5 -F 256'
    }

    withName: SAMTOOLS_VIEW_BOTH {
        ext.args = '-b -f 13 -F 256'
    }

    withName: KRAKEN2_SINGLE {
        memory = 100.GB
        publishDir = [
            path: { "${params.outdir}/kraken2/single_unmapped" },
            mode: 'copy'

        ]
    }

    withName: KRAKEN2_BOTH {
        memory = 100.GB
        publishDir = [
            path: { "${params.outdir}/kraken2/both_unmapped" },
            mode: 'copy'
            ]
    }

}
